@import "https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap";
/*--========================--*/
.why-cho{
    float: left;
    width: 100%;
    padding: 80px 0 80px 0;
    background: #e9f0f3;
}
.why-cho .lhs{
    float: left;
    width: 50%;
}
.why-cho .lhs img{
    padding: 100px 50px 50px 50px;
}
.why-cho .rhs{
    float: left;
    width: 50%;
}
.why-cho .rhs h5{
    margin: 0px;
    text-transform: uppercase;
    font-size: 16px;
    color: #000;
}
.why-cho .rhs h2{
    /* font-family: 'Poppins',sans-serif; */
    font-weight: 700;
    font-size: 42px;
    margin: 0;
    line-height: 48px;
    color: #000;
    padding-bottom: 10px;
}
.why-cho .rhs ul{
    padding: 0px;
}
.why-cho .rhs ul li{
    list-style-type: none;
    padding: 30px 0px 15px 90px;
}
.why-cho .rhs ul li:before{
	content:'';
	position:absolute;
	width: 46px;
	height: 50px;
	background: url('../images/icon/why1.png') no-repeat;
	margin: 0px 0px 0px -72px;
	background-size: 100%;
}
.why-cho .rhs ul li:nth-child(2):before{background: url('../images/icon/why2.png') no-repeat;background-size: 100%;}
.why-cho .rhs ul li:nth-child(3):before{background: url('../images/icon/why3.png') no-repeat;background-size: 100%;}
.why-cho .rhs ul li:nth-child(4):before{background: url('../images/icon/why4.png') no-repeat;background-size: 100%;}
.why-cho .rhs ul li h4{
    color: #000;
    margin: 0px;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 5px;
}
.why-cho .rhs ul li p{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #5f5f5f;
    margin: 0px;
}
.why-cho .rhs a{
    font-size: 15px;
    color: #fff;
    background: #3b7eff;
    font-weight: 500;
    padding: 20px 50px;
    border-radius: 50px;
    transition: .6s ease-in-out;
    border: 1px solid transparent;
    display: inline-block;
    margin-top: 25px;
}
/*--========================--*/   

.how-wrks{
    float: left;
    width: 100%;
    position: relative;
    background: #000000;
    padding: 70px 0px 80px 0px;
    text-align: center;
}
.how-wrks .home-tit{
    margin-bottom: 70px;
}
.how-wrks .home-tit h2{
    padding-bottom: 15px;
    color: #fff;
}
.how-wrks .home-tit h2 span{
    font-size: 34px;
    padding-bottom: 30px;
}
.how-wrks .home-tit p{
    color: #969696;
}
.how-wrks-inn{}
.how-wrks-inn ul{}
.how-wrks-inn ul li{
    float: left;
    width: 25%;
    list-style-type: none;
}
.how-wrks-inn ul li div{
    text-align: center;
    border: 1px solid #232323;
    border-radius: 5px;
    padding: 30px;
    margin: 0px 10px;
    position: relative;
}
.how-wrks-inn ul li div span{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #548aff;
    color: #fff;
    font-size: 16px;
    padding: 3px 0px;
    display: table;
    margin: 0 auto;
    margin-top: -44px;
}
.how-wrks-inn ul li div img{
    width: 72px;
    margin-top: 25px;
}
.how-wrks-inn ul li div h4{
    font-weight: 600;
    font-size: 18px;
    padding: 20px 0px 2px 0px;
    color: #cccccc;
}
.how-wrks-inn ul li div p{
    margin: 0px;
    font-size: 13px;
    color: #969696;
}
.how-wrks-inn ul li div p a{
    color: #969696;
    text-decoration: underline;
}


/*--========================--*/   
.uni-fea{
    float: left;
    width: 100%;
    padding: 40px 0px 70px 0px;
    /* background: #ffffff; */
}
.tit{
    text-align: center;
    padding-bottom: 30px;
}
.tit h2{
    font-weight: 700;
    font-size: 42px;
    margin: 0;
    line-height: 64px;
    color: #000;
    padding-bottom: 10px;
}
.tit p{}
.unfea{}
.unfea ul{
    float: left;
    width: 33.333%;
}
.unfea ul li{
    float: left;
    width: 100%;
    list-style-type: none;
}
.uni-box{
    background-color: #fff;
    padding: 40px;
    border-radius: 6px;
    background-clip: padding-box;
    box-shadow: 0 7px 20px -10px rgba(0, 0, 0, 0.08);
    transition: all .55s ease;
    margin: 15px;
    text-align: left;
    border: 1px solid #e7e7ea;
}
.uni-box:hover{transition: all .55s ease;box-shadow: 0 16px 30px -11px rgba(22, 27, 30, 0.3);transform: translateY(-5px);}
.uni-box h4{
    margin: 0px;
    color: #000;
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.uni-box img{
    background: none !important;
    /* padding: 10px; */
    width: 55px;
    height: 55px;
    /* border-radius: 25%; */
    filter: non !important;
    margin-bottom: 5px;
}
.unfea ul:nth-child(1) li:nth-child(1) img{
    /* filter: invert(1); */
    background: #acb976;
}
.unfea ul:nth-child(1) li:nth-child(2) img{/* background: #e0efff; */}
.unfea ul:nth-child(1) li:nth-child(3) img{/* background: #8030ff; *//* filter: invert(1); */}
.unfea ul:nth-child(2) li:nth-child(1) img{/* background: #caaf2d; *//* filter: invert(1); */}
.unfea ul:nth-child(2) li:nth-child(2) img{/* background: #328def; *//* filter: invert(1); */}
.unfea ul:nth-child(2) li:nth-child(3) img{/* background: #ff3930; *//* filter: invert(1); */}
.unfea ul:nth-child(3) li:nth-child(1) img{/* background: #ffffff; *//* filter: invert(1); */}
.unfea ul:nth-child(3) li:nth-child(2) img{/* background: #84d41a; *//* filter: invert(1); */}
.unfea ul:nth-child(3) li:nth-child(3) img{/* background: #00ff4e; *//* filter: invert(1); */}

.uni-box p{
    margin: 0px;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #707070;
}

.oth-demo{
    padding: 50px 0px 50px 0px;
    float: left;
    width: 100%;
}
.oth-tit{
    text-align: center;
    padding-bottom: 35px;
}
.oth-tit h2{
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    line-height: 42px;
    color: #263e48;
    text-transform: uppercase;
}
.oth-tit h2 b{
    /* margin: 0px; */
    text-transform: capitalize;
    font-size: 46px;
    color: #263e48;
    font-weight: 700;
    display: block;
}
.oth-tit p{
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    line-height: 24px;
    color: #000;
    padding-bottom: 10px;
}
.oth-sec{}
.oth-sec ul{}
.oth-sec ul li{
    /* display: table-cell; */
    text-align: center;
    vertical-align: top;
    width: 33.3333%;
    padding-bottom: 20px;
    float: left;
    list-style-type: none;
}
.oth-sec ul li .pre{-moz-box-shadow: 0 15px 30px rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.01);-webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.01);box-shadow: 0 15px 30px rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.01);border: 10px solid #fff;height: 369px;margin: 0 auto 30px;overflow: hidden;position: relative;max-width: 394px;background: #fff;border-radius: 6px;-moz-transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;margin: 15px;box-shadow: 2px 2px 10px rgba(0,0,0,0.13);transition: box-shadow .3s;border-radius: 10px;transition: all .2s ease;}
.oth-sec ul li .pre a{}
.oth-sec ul li .pre a img{
left: 0;
    position: absolute;
    top: 0;
    max-width: 100%;
    -moz-transition: all 2s ease 0s;
    -webkit-transition: all 2s ease 0s;
    transition: all 2s ease 0s;	
}
.oth-sec ul li .pre a img:hover {
    -moz-transform: translate3d(0,calc(-100% + 370px),0);
    -webkit-transform: translate3d(0,calc(-100% + 370px),0);
    -ms-transform: translate3d(0,calc(-100% + 370px),0);
    transform: translate3d(0,calc(-100% + 370px),0);
}
.oth-sec ul li .txt{}
.oth-sec ul li .txt h4{
    font-weight: 500;
    font-size: 16px;
    padding-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #263e48;
}
.oth-sec ul li .txt h4 b{
    font-weight: 700;
}



html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,footer,header,nav,section{display:block}
h1{font-size:2em;margin:.67em 0}
figcaption,figure,main{display:block}
figure{margin:1em 40px}
hr{box-sizing:content-box;height:0;overflow:visible}
pre{font-family:monospace,monospace;font-size:1em}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:inherit;font-weight:bolder}
code,kbd,samp{font-family:monospace,monospace;font-size:1em}
dfn{font-style:italic}
mark{background-color:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-.25em}
sup{top:-.5em}
audio,video{display:inline-block}
audio:not([controls]){display:none;height:0}
img{border-style:none}
svg:not(:root){overflow:hidden}
button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}
button,input{overflow:visible}
button,select{text-transform:none}
button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{padding:.35em .75em .625em}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
progress{display:inline-block;vertical-align:baseline}
textarea{overflow:auto}
[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}
[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
details,menu{display:block}
summary{display:list-item}
canvas{display:inline-block}
template{display:none}
[hidden]{display:none}
*{margin:0;padding:0;box-sizing: border-box;}
.marginright{margin-right:10px}
body{position:relative;font-size:14px;font-family: 'Poppins',sans-serif;line-height:1.5;background: #e9f0f3;box-sizing: border-box;}
[class^="col-"]{padding-top:0!important;padding-bottom:0!important}
img{max-width:100%;height:auto;object-fit:cover;-o-object-fit:cover}
a{text-decoration:none}
.classiera_demo_btn{font-weight:700;padding:16px 30px;background:#fff;text-transform:capitalize;font-size:15px;color:#232323;transition:all .5s ease;text-decoration:none;min-height:40px;line-height:40px;border-radius:2px}
.classiera_demo_btn img{margin-right:10px;vertical-align:middle}
.classiera_demo_btn:hover,.classiera_demo_btn:focus{background:#e9ffcb;color:#000}
.new_feature_tip{text-transform:uppercase;font-size:10px;font-weight:700;color:#fff;background:#54c8ff;padding:1px 4px}
.section_heading h2{font-size:36px;font-weight:400;color:#232323}
.section_heading h2 span{font-weight:700}
.text-center{text-align:center}
.text-right{text-align:right}
.classiera_version_tip{font-size: 10px;
    font-weight: 700;
    min-height: 20px;
    min-width: 33px;
    line-height: 20px;
    background: #ffc61a;
    color: #000;
    border-radius: 1000px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: -1px;
    right: -36px;}
.classiera_nav{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:10px 0;background:#000;position:fixed;max-width:100%;width:100%;z-index:999}
.classiera_nav__logo{margin-left:50px}
.classiera_nav__logo a{text-decoration:none;font-size:24px;font-weight:700;font-family:"Ubuntu",sans-serif;position:relative;color:#fff}
.classiera_nav__navbar{list-style:none;display:-webkit-flex;display:-ms-flexbox;display:flex}
.classiera_nav__navbar_list.active > a{color:#81b636}
.classiera_nav__navbar_link{color:#fff;font-size:14px;text-transform:capitalize;text-decoration:none;font-family:"Quicksand",sans-serif;padding:25px 10px;transition:all .5s ease}
.classiera_nav__navbar_link:hover,.classiera_nav__navbar_link:focus,.classiera_nav__navbar_link:active{color:#81b636}
.classiera_nav__btn{margin-right:50px;padding:11px 15px;font-size:14px;color:#232323;text-transform:capitalize;font-weight:700;font-family:"Quicksand",sans-serif;text-decoration:none;display:inline-flex;align-items:center;background-blend-mode:multiply;background:#fff;background:#81b636;color:#fff}
.classiera_nav__btn span{display:inline-block;background-repeat:no-repeat;line-height:1.25;transition:all .3s ease}
.classiera_nav__btn:hover{color:#fff}
.classiera_nav__btn:hover span{background:url(../images/icon-stripe.png) 0 -17px;background-repeat:no-repeat}
header{background: url(../images/banner3.png) #000;background-size:cover;background-repeat:no-repeat;background-position: center bottom;background-attachment:fixed;/* padding-top:80px; */padding-bottom: 150px;background-size: 800px;position: relative;/* overflow: hidden; */}
header:after{content: '';position: absolute;background: url(../images/banner2.png) no-repeat right bottom;width: 100%;height: 585px;bottom: 0px;background-size: 100%;filter: grayscale(1);}
header .classiera_header_content{text-align: left;padding-top: 50px;width:72%;margin:0 auto;padding-bottom: 27px;position: relative;z-index: 4;}
header .classiera_header_content img{width: 250px;padding-bottom: 25px;}
header .classiera_header_content h2{/* font-size:200px; */font-family:"Montserrat",sans-serif;/* font-weight:900; *//* color:#fb0e56; *//* position:relative; *//* display:inline-block; *//* line-height:.8; */}
header .classiera_header_content h2 span{font-size:14px;color:#fff;position:absolute;left:12px;top:110px;text-transform:uppercase;font-family:"Raleway",sans-serif;font-weight:700;line-height:1}
header .classiera_header_content h2 span.new_update{color:#f9df4c;top:94px;left:11px}
header .classiera_header_content h2 img{position:absolute;top:50%;transform:translateY(-50%);left:-200px}
header .classiera_header_content h2{
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 32px;
    margin: 0px;
}
header .classiera_header_content h1{
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 82px;
    margin: 0px;
    line-height: 78px;
    padding: 15px 0px;
    /* font-family: "Montserrat",sans-serif; */
}
header .classiera_header_content h1 span{}
header .classiera_header_content i{
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
}
header .classiera_header_content span{
    background: #ffc61a;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    padding: 2px 8px;
    border-radius: 15px;
    font-size: 13px;
}
header .classiera_header_content h1 #changingword{font-style: inherit;color:#ffc61a;background: none;display: block;padding: 0px;font-size: 82px;}
header .classiera_header_content h1 b{color:#15e4f9}
    header .classiera_header_content h1 .t1{display:block;}
    header .classiera_header_content h1 .t2{display:block;}
header .classiera_header_content h3{font-size:24px;text-transform:capitalize;color:#fff;font-weight:400;margin-bottom:28px}
header .classiera_header_content h3 span{font-weight:700}
header .classiera_header_content p{font-size:18px;color:#fff;margin-bottom:45px}
header .classiera_header_content p strong{font-weight:700}
header .classiera_header_content .header_btn{line-height:1;margin:70px 0 40px}
header .classiera_header_content .header_btn a:first-of-type{margin-right:8px}
header .classiera_header_content .header_sep{margin-bottom:28px}
.awaited_features_content__heading{margin-bottom:11px;font-size:38px;margin-top:-45px;font-family:'Poppins',sans-serif;color: #000;}
.awaited_features_content__heading span{font-weight:400}
.awaited_features_content__desc{margin-bottom:30px;font-family:'Poppins',sans-serif}
.awaited_features_ol{margin:0;padding:0;list-style-type:none}
.awaited_features_ol__list{counter-increment:step-counter;margin-bottom:10px;font-weight:500;font-size:14px}
.awaited_features_ol__list::before{content:counter(step-counter);margin-right:10px;font-size:14px;background-color:#4ac30f;color:#fff;font-weight:700;padding:2px 6px;font-family:"Ubuntu",sans-serif}
.awaited_features_ol__list .new_feature_tip{margin-left:10px}
.awaited_features_detail{background:#20242e;padding:38px 0 58px}
.awaited_features_detail__box{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.awaited_features_detail__box__body{margin-top:60px}
.awaited_features_detail__box__body h4{font-size:16px;font-weight:700;text-transform:uppercase;color:#fff;margin-bottom:15px}
.awaited_features_detail__box__body h4 span{font-size:14px;color:#232323;min-width:20px;max-width:20px;line-height:20px;background:#bedb47;text-align:center;display:inline-block;position:relative;margin-right:10px}
.awaited_features_detail__box__body h4 span::before{content:"";position:absolute;width:2px;height:20px;background:#bedb47;left:-5px}
.awaited_features_detail__box__body p{color:#cfcfcf}
.media{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.classiera_version{padding-top:60px;padding-bottom:40px}
.classiera_version .section_heading p{margin-bottom:30px}
.classiera_version__classic .media__body{width:100%;text-align:right}
.classiera_version__classic .media__body p{display:inline-block;background:#adcf18;line-height:1;text-transform:uppercase;color:#fff;font-weight:700;padding-left:4px;margin-bottom:0}
.classiera_version__classic .media__body p span{background:#232323;line-height:inherit;display:inline-block;margin-left:4px;padding:3px 4px}
.classiera_version__classic .media__body h2{font-size:48px;font-weight:700;color:#232323;margin-bottom:25px;line-height:1}
.classiera_version__modern .media__body{width:100%;text-align:left;margin-left:15px}
.classiera_version__modern .media__body h2{font-size:48px;line-height:1;position:relative}
.classiera_version__modern .media__body h2 span{font-size:14px;color:#fff;position:absolute;text-transform:capitalize;background:#e44096;font-family:"Ubuntu",sans-serif;width:32px;height:31px;border-radius:1000px;text-align:center;line-height:31px;top:-2px;left:200px}
.classiera_version__modern .media__body h2 span.modern{width:auto;height:auto!important;line-height:1;font-family:"Quicksand",sans-serif;font-weight:300;background:#f9df4c;color:#232323;right:auto;left:3px;top:-23px;padding:3px 6px;border-radius:0}
.classiera_version__modern .media__body h2 span.modern:before{content:"";width:100%;height:100%;left:3px;position:absolute;z-index:-1;background:#bfbfbf}
.classiera_version__modern .media__body p.text__ribbon{font-family:"Raleway",sans-serif;font-style:italic;font-size:18px;font-weight:400;text-transform:capitalize;line-height:1;margin-bottom:30px;padding:4px 10px 4px 5px;background:#e44096;color:#fff}
.classiera_version__modern .media__body p.text__ribbon::before{top:-4px;left:2px}
.classiera_version__modern .classiera_version_btn{background:#00bae5}
.classiera_version_btn{display:inline-block;font-weight:700;color:#fff;background:#fb0e56;padding:11px 15px;-webkit-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out}
.classiera_version_btn:hover{opacity:.8}
.text__ribbon{text-transform:uppercase;padding:4px;display:inline-block;background:#f9df4c;color:#232323;font-weight:800;position:relative}
.text__ribbon::before{content:"";display:inline-block;height:93%;left:0;position:absolute;top:-2px;transform:rotate(1deg);width:99%;z-index:-1;-webkit-box-shadow:-5px 12px 0 0 rgba(0,0,0,0.3);-moz-box-shadow:-5px 12px 0 0 rgba(0,0,0,0.3);box-shadow:-5px 12px 0 0 rgba(0,0,0,0.3)}
.premade_layout{padding:59px 0 20px;background:#f4f4f4}
.premade_layout [class^="col-"]{padding-right:5px;padding-left:5px}
.premade_layout .section_heading{margin-bottom:28px}
.premade_layout .premade_layout__box{background:#fff;-webkit-box-shadow:0 6px 20px 3px rgba(0,0,0,0.15);-moz-box-shadow:0 6px 20px 3px rgba(0,0,0,0.15);box-shadow:0 6px 20px 3px rgba(0,0,0,0.15);margin-bottom:30px}
.premade_layout .premade_layout__box_img{position:relative;transition:all .5s ease}
.premade_layout .premade_layout__box_hover{width:100%;height:99%;position:absolute;left:0;top:0;background:#fff;opacity:0;visibility:hidden;transition:all .5s ease}
.premade_layout .premade_layout__box h5{font-size:16px;background:#f0f0f0;color:#232323;line-height:1;padding:17px;margin-top:-6px;font-family:"Quicksand",sans-serif;font-weight:700}
.premade_layout .premade_layout__box h5 span{font-weight:400}
.premade_layout .premade_layout__box a{transition:all .5s ease}
.premade_layout .premade_layout__box a:hover .premade_layout__box_hover{visibility:visible;opacity:.5}
.premade_layout .more{height:92%;background:#fff;display:flex;align-items:center;text-align:center;justify-content:center;-webkit-box-shadow:0 6px 20px 3px rgba(0,0,0,0.15);-moz-box-shadow:0 6px 20px 3px rgba(0,0,0,0.15);box-shadow:0 6px 20px 3px rgba(0,0,0,0.15);margin-bottom:30px}
.optimization_stats{background:#20242e;padding-top:56px}
.optimization_stats_box{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.optimization_stats_box h3{font-size:28px;color:#fff;margin-bottom:30px}
.optimization_stats_box img:first-of-type{margin-bottom:30px}
.core_features{padding: 62px 0 0;display:none;}
.core_features .section_heading{margin-bottom:50px;/* padding-top: 50px; */}
.core_features_carousel{/* margin-bottom:80px!important */}
.core_features_carousel .core_features_carousel__box{padding:0 15px;float: left;width: 33.33%;}
.core_features_carousel .slick-center .core_features_carousel__box_content{opacity:1}
.core_features_carousel .slick-center .core_features_carousel__box_content h4{visibility:visible;opacity:1}
.core_features_carousel .slick-center .core_features_carousel__box_content p{visibility:visible;opacity:1}
.core_features_carousel .core_features_carousel__box_content{/* opacity:.2; */text-align:center;transition:all .5s ease;}
.slick-slider .slick-track,.slick-slider .slick-list{padding-bottom:50px}
.core_features_carousel .core_features_carousel__box_content a{text-decoration:none}
.core_features_carousel .core_features_carousel__box_content img{width:100%;height:100%;margin-bottom:15px;background:#fff;border-radius:3px;box-shadow:0 8px 53px -13px rgba(0,0,0,0.64)}
.core_features_carousel .core_features_carousel__box_content h4{line-height:1;font-size: 16px;text-transform:capitalize;margin-bottom:20px;visibility:hidden;opacity:0;margin-top: 0px;}
.core_features_carousel .core_features_carousel__box_content p{visibility:hidden;opacity:0}
.core_features .key_features{background:#20242e;padding:60px 0}
.core_features .key_features .section_heading{margin-bottom:60px}
.core_features .key_features .section_heading h2,.core_features .key_features .section_heading p{color:#fff}
.core_features .key_features__content{margin-bottom:40px}
.core_features .key_features__content i{color:#b6d91a;font-size:36px;margin-bottom:10px}
.core_features .key_features__heading{font-size:16px;font-weight:700;color:#fff;line-height:1;margin-bottom:15px}
.core_features .key_features__desc{color:#7f8285}
.slick-prev:before,.slick-next:before{color:#fb0e56;content: '';}
.ratings{padding:60px 0;background:#f0f0f0}
.ratings .section_heading{margin-bottom:45px}
.ratings .section_heading h2{line-height:1.2;margin-bottom:10px}
.ratings .section_heading h2 > span{color:#fb0e56}
.ratings_carousel .slick-prev:before,.ratings_carousel .slick-next:before{color:#fb0e56}
.ratings_carousel .slick-slider{margin:0 -5px}
.ratings_carousel .slick-slide{text-align:center;margin-right:5px;margin-left:5px}
.ratings_carousel__box{-webkit-box-shadow:0 0 25px 0 rgba(0,0,0,0.15);-moz-box-shadow:0 0 25px 0 rgba(0,0,0,0.15);box-shadow:0 0 25px 0 rgba(0,0,0,0.15);padding:45px 15px;min-height:234px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;background:#fff}
.ratings_carousel__box_star{color:#ffd647;font-size:18px;line-height:1;margin-bottom:15px}
.ratings_carousel__box h6{font-size:14px;font-weight:700;line-height:1;margin-bottom:15px}
.ratings_carousel__box h6 span{font-weight:400;color:#848484}
.ratings_carousel__box p{color:#6c6c6c}
.ratings_carousel__box p:first-of-type{margin-bottom:45px}
.ratings_carousel__box p b{color:#232323}
.documentation .col-lg-4:nth-of-type(1){background:#1c2942}
.documentation .col-lg-4:nth-of-type(2){background:#203254}
.documentation .col-lg-4:nth-of-type(3){background:#1c2942}
.documentation__box{padding:38px 50px}
.documentation__box h4{text-transform:uppercase;color:#fff;font-size:18px;margin-bottom:15px}
.documentation__box p{font-size:15px;color:#7f8285;margin-bottom:30px}
.documentation__box_btn{display:inline-block;text-transform:capitalize;background:#fff;color:#232323;padding:13px 35px;line-height:1}
.users{background: #f7fcff;background-position:center center;padding: 50px 0 40px 0;position:relative;float: left;width: 100%;}
.users:before{/* content:''; */position:absolute;width:100%;height:100%;left:0;right:0;top:0;bottom:0;background: #f7fcff;}
.users h2{font-size:36px;color: #3a4354;font-weight:400;margin-bottom:30px;position:relative;}
.users h2 span{font-weight:700;color: 3a4354;}
.users a{display:inline-block;line-height:1;background: #6e31ff;color:#fff;font-size:20px;padding:17px 27px;position:relative;box-shadow: 0px 5px 30px -5px #3f2c7380;border-radius: 7px;}
.users a img{vertical-align:middle;margin-right:10px}
.payment_method{background:#522c79;padding:50px 0}
.payment_method .section_heading h2,.payment_method .section_heading p{color:#fff}
footer{background: #ffffff;padding:20px;float: left;width: 100%;}
footer p{color: #375767;text-align: center;}
footer p a{color: #375767;text-decoration:underline;}
footer p a:hover{color:#b6d91a}
footer span{color:#aaa;display:inline-block;margin-right:10px}
footer a.social{height:32px;width:32px;text-align:center;line-height:32px;display:inline-block;background:#191d22;border-radius:1000px;color:#fff;transition:all .5s ease}
footer a.social i{font-size:14px}
footer a.social:hover{background:#b6d91a}
.demos{padding:0;margin:0;list-style-type:none;text-align:center;float: left;width: 100%;/* background: url(../images/demobg.jpg); */margin-top: 60px;border-radius: 10px;/* box-shadow: 0px 17px 28px -12px rgba(15, 22, 25, 0.72); */background-size: cover;z-index: 5;position: relative;}
.demos li{display:inline-block;width: 33.333%;padding: 1%;text-align:center;position:relative;float:left;}
.demos li a{color:#ccc;font-size:12px;text-transform:uppercase;text-decoration:none;letter-spacing:.5em}
.demos li p{margin-top:25px;padding:0 0 0 .5em;color: #4e535a;font-size: 16px;letter-spacing:2px;font-weight: 600;padding-bottom: 20px;text-decoration: underline;}
.demos li img{width:97%;box-shadow:2px 2px 10px rgba(0,0,0,0.13);transition:box-shadow .3s;border-radius:10px;transition:all .2s ease}
.demos li .cre{position:relative;color: #184563;font-weight: 400;border: 1px dashed #c3c3c3;padding: 5px 15px;display: inline-block;border-radius: 50px;margin-top: 15px;background: #fff;font-size: 12px;}
.demos li:hover img{
    box-shadow: 0px 17px 28px -12px rgba(15, 22, 25, 0.72);
    transform: translateY(-10px);
}
.mdemo{/* background: #000000; */padding: 0px 0 70px 0;background:-webkit-linear-gradient(to top,#0c2050,#0b1733);/* background:linear-gradient(to top,#0c2050,#0b1733); */float:left;width:100%;margin-top: 0px;}
#back-to-top{position:fixed;bottom:40px;right:40px;z-index:9999;width:32px;height:32px;text-align:center;line-height:32px;background:#f0f0f0;color:#444;cursor:pointer;border:0;border-radius:2px;text-decoration:none;transition:opacity .5s ease-out;opacity:0}
#back-to-top:hover{background:#81b636;color:#fff}
#back-to-top.show{opacity:1}
.fea{float:left;width:100%;background:#e9f0f3;padding:55px 0;margin-bottom: 70px;}
.fea-tit{text-align:center;padding-bottom: 20px;}
.fea-tit h2{font-family:'Poppins',sans-serif;font-weight:700;font-size:54px;margin:0;line-height:64px;color: #000;}
.fea-tit p{font-size:18px;color: #184563;}
.fea-inn ul li{float:left;width:20%;list-style-type:none}
.fea-inn ul li div{background-color:#fff;padding:25px;-webkit-border-radius:6px;-webkit-background-clip:padding-box;-moz-border-radius:6px;-moz-background-clip:padding;border-radius:6px;background-clip:padding-box;-webkit-box-shadow:0 7px 20px -10px rgba(171,171,171,.7);-moz-box-shadow:0 7px 20px -10px rgba(171,171,171,.7);box-shadow:0 7px 20px -10px rgba(171,171,171,.7);-webkit-transition:all .55s ease;-moz-transition:all .55s ease;-o-transition:all .55s ease;transition:all .55s ease;text-align:center;margin:15px}
.awaited_features{float:left;width:100%;padding:60px 0 0;background:#e9f0f3;display:none;}
.awaited_features img{margin-top:50px}
.fea-inn ul li div img{width: 45px;height: 45px;object-fit:cover;}
.fea-inn ul li div h4{margin:0;/* font-family:'Poppins',sans-serif; */font-weight:600;font-size: 15px;text-transform:capitalize;padding-top:10px;}
.ani{position:relative;float:left;width:100%;padding:70px 0 80px;margin-bottom:70px;background-color:#0b2053;background-image:radial-gradient(#1d4194,#0b245f,#0b1733);display: none;}
.ani-main{position:relative}
.acom{position:absolute;z-index:5;background:#fff;width:275px;border-radius:3px;box-shadow:0 7px 20px -10px rgba(0,0,0,0.64);padding:25px;text-align:center;transition:all .5s ease}
.a1{padding-top:60px}
.a1 img{width:550px;margin:0 auto;display:table}
.acom img{margin-top:-100px;background:#fff;border-radius:50px;padding:20px;width:50px}
.acom h4{margin:0;font-size:18px;font-weight:800;padding:10px 0}
.acom p{margin:0;font-size:14px;font-weight:500}
.land-container{max-width:1250px;margin:0 auto}
.ani .fea-tit h2{font-size:36px;font-weight:400;color:#fff}
.ani .fea-tit h2 b{font-weight:700}
.ani .fea-tit p{color:#fff}
.acom{top:initial;left:38%;bottom:0;opacity:0}
.ani-sta .acom{opacity:1}
.ani-sta .a2{top:30px;left:0;bottom:auto;transition:all .5s ease;transition-delay:.5s}
.ani-sta .a3{bottom:0;left:0;transition:all 1s ease;transition-delay:1s}
.ani-sta .a4{top:30px;right:0;left:auto;bottom:auto;transition:all 1.5s ease;transition-delay:1.5s}
.ani-sta .a5{bottom:0;right:0;left:auto;transition:all 2s ease;transition-delay:2s}
.slick-prev,.slick-next{width:50px;height:50px;background:#fff;border-radius:50px;color:#333;box-shadow:0 8px 53px -13px rgba(0,0,0,0.64);z-index:13}
.slick-prev{left:50px}
.slick-next{right:50px}
.header_btn .btn1{border:1px solid #00acff;color:#fff;padding:15px 40px;background:#00acff;border-radius:2px}
.header_btn .btn2{border:1px solid #fff;color:#000;padding:15px 40px;background:#fff;border-radius:2px}
.container{width: 1200px;margin: 0 auto;}
.why-cho .container{width: 850px;}
.dwn-demo{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000b20, #00070d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float: left;
    width: 100%;
    padding-top: 70px;
    text-align: center;
    color: #fff;
    box-shadow: 0px 12px 43px -14px #333;
    margin-bottom: 50px;
}
.dwn-demo h2{
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
    padding-bottom: 25px;
}
.dwn-demo h2 b{
    display: block;
    font-weight: 700;
    font-size: 38px;
    line-height: 40px;
}
.dwn-demo p{
    color: #909090;
    padding-bottom: 30px;
    font-size: 16px;
}
.dwn-demo p.inc{
    text-transform: uppercase;
    color: #e7e7e7;
    font-size: 18px;
    letter-spacing: 1px;
}
.dwn-demo a{
    border: 1px solid #737373;
    color: #737373;
    padding: 12px 45px;
    border-radius: 2px;
    margin: 0px 4px;
    font-size: 14px;
    display: inline-block;
}
.dwn-demo a.b1{
    background: #F44336;
    color: #fff;
    border: 1px solid #F44336;
}
.dwn-demo a.b2{}
.dwn-demo img{
    float: left;
    width: 100%;
}
.mob-sc{
    width: 350px;
    height: 705px;
    overflow: hidden;
    background: url(../../demo/images/mobile-bg.png) no-repeat;
    padding: 14px;
    background-size: cover;
    overflow: hidden;
    position: relative;
    /* filter: drop-shadow(0px 21px 14px #333); */
    box-shadow: 0px 11px 41px 4px #2f2f2f6e;
    border-radius: 55px;
}
.mob-sc1{
    margin: 5px 0px 0px 0px;
    position: relative;
    overflow: hidden;
    border-radius: 40px;
    height: 668px;
}
.mob-sc1 img{}
.mob-sc:before, .mob-sc:after{position:absolute;content:'';}
.mob-sc:before{}
.mob-sc:after{}
.mob-sc img{}
.mob-vi .mob-sc1 img{
    padding: 0px;
    width: 100%;
    transition: all ease 20s;
    border-radius: 25px;
    margin-top: 0px;
}
.mob-vi .mob-sc1:hover img{
    transition: all ease 20s;
    transform: translateY(-5934px);
}

.how-to-coll{-webkit-box-shadow: 0 5px 5px 0 rgba(154,160,185,.05), 0 5px 30px 0 rgba(166,173,201,.22);box-shadow: 0 5px 5px 0 rgba(154,160,185,.05), 0 5px 30px 0 rgba(166,173,201,.22);background: #fff;width: 460px;margin: 0 auto;display: table;border: 1px solid #ebebeb;border-radius: 3px;width: 65%;padding: 0px 0px 0px 0px;}
.how-to-coll ul{border: 1px solid #ebebeb;margin: 35px;}
.how-to-coll li{
    text-align: left;
    border-bottom: 1px solid #ebebeb;
    padding: 20px;
    list-style-type: none;
}
.how-to-coll li:last-child{
    border-bottom:0px;
}
.how-to-coll li h4.colact{
}
.how-to-coll li h4{
    text-align: left;
    font-size: 15px;
    margin-bottom: 0px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
    /* padding-right: 50px;
     */
    position: relative;
    font-weight: 600;
}
.how-to-coll li h5{
    font-size: 14px;
    font-weight:600;
    margin-top:10px;
}
.how-to-coll li h4:after{
    content:'\27A4';
    color: #212529;
    right: 30px;
    font-size: 15px;
    transition: all 0.5s ease;
    transform: rotateY(61deg);
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
}
.how-to-coll li h4.colact:after{
    transform: rotate(90deg);
    transition: all 0.5s ease;
    font-size: 15px;
}
.how-to-coll li div{
    display: none;
    padding-top: 15px;
}
.how-to-coll li div p{
    text-align: left;
    font-size: 13px;
    line-height: 22px;
    margin: 0px;
    color: #333;
}
.how-to-coll li div ol{
    padding: 15px 0px 8px 0px;
}
.how-to-coll li div ol li{
    border: 0px;
    padding: 3px 0px;
    font-size: 13px;
    font-size: 13px;
    line-height: 22px;
    margin: 0px;
    color: #333;
    list-style-type: disc;
    margin-left: 18px;
    font-weight: 500;
}
.how-to-coll li div ol li a{
    color: #2196F3;
    /* background: #2196F3; */
    font-size: 12px;
    text-decoration: underline;
    /* border-radius: 2px; */
    /* padding: 0px 5px 1px 5px; */
}
.faq{
    float: left;
    width: 100%;
    background: #f7fcff;
    padding: 75px 0px 60px 0px;
}
.log-bor {
    background: #4c7af1;
    background-image: linear-gradient(-71deg,#4c7af1,#7fccbb 95%);
    height: 10px;
    border-radius: 0px;
}
.udb-inst {
    position: relative;
    margin: 0 auto;
    display: table;
    background: #21d78d;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 2px 10px;
    line-height: 20px;
    border-radius: 4px;
    margin-top: -16px;
    /* margin-bottom: 10px; */
    letter-spacing: 2px;
}
.how-to-coll h2{
    padding: 30px 30px 15px 30px;
    text-align: center;
    font-size: 21px;
}
.how-to-coll p.faqp{
    text-align: center;
    padding: 0px 30px;
    color: #444;
}
.rat{
    position: absolute;
    right: 0px;
    top: 35px;
    /* background: #fff; */
    border: 1px solid #656565;
    padding: 2px 12px;
    border-radius: 30px;
}
header .classiera_header_content .rat p{
    margin: 0px;
    float: left;
    padding-right: 10px;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    font-size: 16px;
}
header .classiera_header_content .rat i{
    width: 16px;
    font-style: inherit;
    font-size: 22px;
    color: #ffa31a;
    line-height: 25px;
    padding: 0px;
}

/*** TestimonialS Slider - Free Weebly Widget by Baamboo Studio - Style 2 ***/
.testimonial_slider_2{
	width: 60%;
	/* border: 1px solid #ebebeb; */
	overflow:hidden;
	box-sizing:border-box;
	padding-bottom:30px;
	margin: 0 auto;
}
.testimonial_slider_2 input {
	display: none;
}

.testimonial_slider_2 #slide_2_1:checked ~ .boo_inner { margin-left:0; }
.testimonial_slider_2 #slide_2_2:checked ~ .boo_inner { margin-left:-100%; }
.testimonial_slider_2 #slide_2_3:checked ~ .boo_inner { margin-left:-200%; }
.testimonial_slider_2 #slide_2_4:checked ~ .boo_inner { margin-left:-300%; }
.testimonial_slider_2 .boo_inner {
	width:400%;
	-webkit-transform: translateZ(0);
	-webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

	-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}
.testimonial_slider_2 .slide_content{
	width:25%;
	float:left;
}
.testimonial_slider_2 #controls {
	text-align:center;
	z-index: 1;
	position: relative;
	/* float: left; */
	margin: 0 auto;
	display: table;
}
.testimonial_slider_2 #controls label{
	width:8px;
	height:8px;
	margin: 0 5px;
	display:inline-block;
	background: #bbb6c6; /* Change controls background color */
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.testimonial_slider_2 #slide_2_1:checked ~ #controls label:nth-child(1), 
.testimonial_slider_2 #slide_2_2:checked ~ #controls label:nth-child(2), 
.testimonial_slider_2 #slide_2_3:checked ~ #controls label:nth-child(3), 
.testimonial_slider_2 #slide_2_4:checked ~ #controls label:nth-child(4){
	background: #6e31ff; /* Change controls background color when mouse click */
}
.testimonial_2 {
	font-size: 16px !important;
	color: #333; /* Change testimonial paragraph text color */
	padding: 30px 30px 23px;
}
.content_2 {
	position: relative;
	padding-left: 30px;
	margin-bottom: 30px;
}
.content_2:before,
.content_2:after {
	content: "";
	height: 15px;
	width: 19px;
	position: absolute;
}
.content_2:before {
	background: url(icon_testimonial_2_before.png) 0 0 no-repeat;
	left: 0;
}
.content_2:after {
	background: url(icon_testimonial_2_after.png) 0 0 no-repeat;
	margin: 5px 10px;
}
.testimonial_2 p {
	display: inline;
	color: #3a4354;
	font-size: 17px;
	line-height: 27px;
	font-weight: 400;
}
.author_2 {
	/* margin-left: 30px; */
}
.author_2 h3 {
	text-transform: uppercase;
	color: 3a4354; /* Change author text color */
	font-size: 14px;
	font-weight: 600;
	padding: 0 0 5px;
	letter-spacing: 2px;
}
.author_2 h4 {
	color: 3a4354; /* Change author text color */
	font-size: 12px;
	font-weight: 400;
	padding: 0 0 5px;
	font-style: italic;
}
.author_2 h4 a {
	color: #999; /* Change company text link color */
	text-decoration: none;
	position: relative;
	padding-bottom: 1px;
	overflow: hidden;
	border-bottom: 1px solid;
}
.author_2 h4 a:after {
	background: #999; /* Change company border link background color */
	height: 1px;
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 0;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.author_2 h4 a:hover {
	color: #000; /* Change company text link color when mouse over */
	border: none;
}
.author_2 h4 a:hover:after {
	border-color: #000;
	width: 100%;
}
    
@media (max-width: 1200px) {
.container {
    width: 90%;
}    
}

@media (max-width: 992px) {
.why-cho .container {
    width: 90%;
}
    .why-cho .lhs{display:none;}
    .why-cho .rhs{width:100%;}
}

@media (max-width: 767px) {
    header .classiera_header_content h1 #changingword{font-size:62px;}
    header .classiera_header_content h1{line-height: 60px;}
    header .classiera_header_content{width:100%;text-align: center;}
    .why-cho{padding: 0px 0px 40px 0px}
    .unfea ul {
    width: 50%;
}
.rat {
    position: relative;
    right: initial;
    top: initial;
    /* background: #fff; */
    border: 1px solid #656565;
    padding: 2px 12px;
    border-radius: 30px;
    display: inline-block;
    /* margin-top: 50px; */
}
}
@media (max-width: 575px) {
.classiera_nav__navbar{display:none}
header .classiera_header_content h2 img{top:-90px;left:50%;transform:translateX(-50%)}
.classiera_nav__logo{margin-left:10px}
.classiera_nav__btn{margin-right:10px}
.awaited_features_detail__box{-ms-flex-wrap:wrap;flex-wrap:wrap}
.awaited_features_detail__box__body{margin-top:0;text-align:center}
.awaited_features_content__heading{line-height:1}
.classiera_version__classic{margin-bottom:60px}
.classiera_version__classic .media{flex-wrap:wrap-reverse;-ms-flex-wrap:wrap-reverse;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.classiera_version__classic .media__body{text-align:center}
.classiera_version__classic .media img{height:250px}
.classiera_version__modern .media{flex-wrap:wrap;-ms-flex-wrap:wrap;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.classiera_version__modern .media__body{text-align:center}
.classiera_version__modern .media img{height:250px;margin-bottom:30px}
.classiera_version__modern .media__body h2 span.modern{left:20px}
.classiera_version__modern .media__body h2 span{right:0}
.section_heading h2{line-height:1;margin-bottom:15px}
footer > .container{padding:0}
.slick-prev:before,.slick-next:before{color:#fb0e56}
}
@media (min-width: 576px) and (max-width: 767px) {
.classiera_nav__navbar{display:none}
header .classiera_header_content h2 img{left:-148px}
.premade_layout [class^="col-"]{width:50%}
footer .container .grid div:nth-of-type(1){width:40%}
footer .container .grid div:nth-of-type(2){width:60%}
.slick-prev:before,.slick-next:before{color:#fb0e56}
}
@media (min-width: 768px) and (max-width: 991px) {
.classiera_nav__navbar{display:none}
header{margin-bottom:0}
.awaited_features{padding-top:50px}
.awaited_features_detail__box{align-items:center}
.awaited_features_detail__box__body{margin-top:0}
.classiera_version__modern .media__body h2 span{left:200px}
.slick-prev:before,.slick-next:before{color:#fb0e56}
.classiera_version__classic .media img{height:150px}
}
@media (min-width: 992px) and (max-width: 1199px) {
.classiera_nav__logo{margin-left:10px}
.classiera_nav__btn{margin-right:10px}
.classiera_version_tip{left:95px;right:auto}
.classiera_nav__navbar_link{padding:20px 5px}
.slick-prev:before,.slick-next:before{color:#fb0e56}
.awaited_features_detail__box{-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.awaited_features_detail__box__body{margin-top:0;text-align:center}
}    
@media screen and (max-width:1600px) {
.fea-inn ul li div h4{font-size: 13px;}
.fea-inn ul li div{/* height:120px */}
}
@media screen and (max-width:1350px) {
.awaited_features_ol__list{font-size:12px}
.fea-inn ul li{width: 20%;}
}
@media screen and (max-width:767px) {
.fea-inn ul li{width:50%}
header .classiera_header_content h1{font-size:44px;margin-top:0}
.demos li{width:100%;padding:0 20px;box-sizing:border-box}
.oth-sec ul li{width:50%;}
    .testimonial_slider_2{width:90%;}
    .users h2{font-size: 24px;}
}
@media screen and (max-width:600px) {
.unfea ul, .how-wrks-inn ul li {
    width: 100%;
}
.how-to-coll{width:100%;display:block;}
.oth-tit h2 b{font-size:28px;}
.oth-tit h2{line-height:30px;}
.tit h2{font-size:32px;line-height:34px;}
.oth-sec ul li .pre{height:150px;}
header .classiera_header_content h1 #changingword{font-size:38px;}
    header .classiera_header_content h1{line-height: 38px;}
}
@media screen and (max-width:480px) {
.fea-inn ul li, .oth-sec ul li{width:100%}
header .classiera_header_content i{font-size:12px;}
.rat{    width: 242px;
    margin: 0 auto;
    margin-top: 20px;    display: table;}
	header .classiera_header_content h2{font-size:22px;}
	header .classiera_header_content{padding-top:35px;}
	.why-cho .rhs h2{    font-size: 30px;    line-height: 30px;}
	.dwn-demo h2{    line-height: 25px;}
	.dwn-demo h2 b{font-size:26px;}
	.fea-tit h2{font-size: 32px;    line-height: 32px;padding-bottom:15px;}
	.fea-tit p{font-size:13px;}
	.how-wrks .home-tit h2 span{font-size:24px;}
} 